@media screen and (min-width: 495px) {
    .title {
        font-size: 40px;
    }

    header h4 {
        font-size: 18px;
    }

    .logo-image {
        height: 60px;
        width: 60px;
    }

    .section-main-image {
        max-height: 150px;

    }
}

@media screen and (min-width: 992px) {
    .logo-image {
        height: 70px;
        width: 70px;
    }

    .section-main-image {
        max-height: 200px;

    }

    header h4 {
        font-size: 20px;
    }
}
